@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<NewsManagement.ViewModels.Catalog.CatalogVm>
<div class="full-menu">
    <div class="inner">
        <div class="row col-up-6">
            <ul class="nav vertical nested">
                @foreach (var item in Model)
                {
                    <li class="footer_topic texxtalign">
                        <a rel="nofollow"
                           href="@Url.Action("NewsSearch","NewsCity", new { idTopic = item.Id , idEvent = 0 , search = ""})"
                           title="@item.Name">@item.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>