@model NewsManagement.ViewModels.System.Users.ChangePasswordRequest

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/profile.css" rel="stylesheet" />
<div class="clearfix wrap-contanter" data-sticky_parent>
    <div class="w-item w-725 wf-submenu style-1 ">
        <div class="w-inner">
            <div class="sub-menu pos-rel">
                <ul class="navpro sub-nav">
                    <li>
                        <ul class="breadcrumb">
                            <li itemscope="" itemtype="">
                                <a href="/" itemprop="url"><span itemprop="title">Trang chủ</span></a>
                            </li>
                            <li class="active">
                                Thông tin cá nhân
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
   
        
    <div class="lpos lpos-1 col-lg-3">
        <div class=" card position-sticky top-1">
            <ul class="navpro flex-column bg-white border-radius-lg p-3">

                <li class="nav-item">
                    <a class="nav-link text-body " data-scroll="" asp-controller="Profile" asp-action="Index">
                        <span class="text-sm">Hồ sơ</span>
                    </a>
                </li>
                <li class="nav-item pt-2">
                    <a class="nav-link text-body activea" data-scroll="" href="#changepass">
                        <span class="text-sm">Đổi mật khẩu</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="lpos lpos-2">
        <div class="rowpro">
            <div class="gw-item w-37 col-xs-12 pad-l-24 wf-html">
               <form asp-action="ChangePassword" method="post">
					@Html.AntiForgeryToken()
					<div class="card mt-4" id="changepass">
						<div class="card-header">
							<h5>Thay đổi mật khẩu</h5>

						</div>
						@if (TempData["AlertMessage"] != null)
						{

							<div class="validation-summary-errors  @TempData["AlertType"] nonestype">
								<ul>
									<li>@TempData["AlertMessage"]</li>
								</ul>
							</div>


							<style>
								.seachvisble {
									display: none;
								}
							</style>
						}
						<div class="card-body pt-0">
							<div class="rowpro">
								<div class="col-12">
									<label asp-for="currentPassword" class="form-label mt-4"></label>
									<input asp-for="currentPassword" class="multisteps-form__input form-control" type="password" />
									<span asp-validation-for="currentPassword" class="text-danger"></span>
								</div>
								<div class="col-12">
									<label asp-for="NewPassword" class="form-label mt-4"></label>
									<input asp-for="NewPassword" class="multisteps-form__input form-control" type="password" />
									<span asp-validation-for="NewPassword" class="text-danger"></span>

								</div>
								<div class="col-12">
									<label asp-for="ConfirmPassword" class="form-label mt-4"></label>
									 <input class="multisteps-form__input form-control" asp-for="ConfirmPassword" type="password" >
                                     <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

								</div>
							</div>

							<h5 class="mt-5">Yêu cầu mật khẩu</h5>
							<p class="text-muted mb-2">
								Vui lòng làm theo hướng dẫn này để có một mật khẩu mạnh:
							</p>
							<ul class="text-muted ps-4 mb-0 float-start">
								<li>
									<span class="text-sm">Một chữ cái viết hoa, viết thường, ký tự số từ 10-99, kí tự đặt biệt</span>
								</li>
								<li>
									<span class="text-sm">Tối thiểu 6 ký tự</span>
								</li>
								<li>
									<span class="text-sm">Thay đổi nó thường xuyên</span>
								</li>
							</ul>
							<button class="btn bg-gradient-dark btn-sm float-end mt-6 mb-0">Thay đổi</button>
						</div>
					</div>
				</form>

            </div>


        </div>
    </div>
</div>

<script id="rendered-js">
    $(function () {

        //Smooth scroll
        var $root = $('html, body');
        $('a').click(function () {
            $root.animate({
                        scrollTop: $($.attr(this, 'href')).offset().top
            },
                800);
                        return false;
                    });


        //Sticky navigation on scroll.
        $(document).on('scroll', function () {
                        if ($(this).scrollTop() > 90) {
                $('.lpos-1').addClass('lpos-1-sticky');
                @*$('.card-header').addClass('mt-top');*@
            } else {
                $('.lpos-1').removeClass('lpos-1-sticky');
               @* $('.card-header').removeClass('mt-top');*@
            }
        });


        //Add active class to the nav on click.
        $('.lpos-1 li a').click(function () {
            $('.lpos-1 li a').removeClass('activea');
            $(this).addClass('activea');
        });

        $('.lpos-1 li a').scroll(function () {
            $('.lpos-1 li a').removeClass('activea');
            $(this).addClass('activea');
        });



    });
  //# sourceURL=pen.js
</script>